body {
    background-color: rgb(47, 47, 47);
}

#docgo pre code {
    font-size: 12px;
    line-height: 18px;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    color: rgb(120, 120, 120);
}

#docgo div {
    display: inline;
}

#docgo .keyword {
    color: rgb(250, 200, 100);
}

#docgo .literal {
    color: rgb(140, 190, 100);
}

#docgo .ident {
    color: white;
}

#docgo .operator {
    color: white;
}

#docgo .comment {
}

#docgo .section .doc {
    vertical-align: top;
    //float: left;
}

#docgo .section .code {
    vertical-align: top;
    //float: right;
}
